* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-text-color:#F5F5F5;
  --window-bg-color:#242F3D;
  --main-bg-color:#17212B;
  --chat-bg-color:#0E1621;
  --blue-color:#2B5278;
  --blue-text-color:#73B9F5;
  --gray-text-color:#708499;
  --icon-color:#6C7883;
  --hover-bg-color:#202B36;
}

::before, ::after {
  content: '';
  display: block;
  position: absolute;
}

html, body {
  height: 100%;
}

body {
  background: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto,"sans-serif";
  -webkit-font-smoothing: antialiased;
}

.telegram {
  min-width: 1200px;
  min-height: 720px;
  width: 1200px;
  height: 720px;
  background: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.telegram .window {
  width: 100%;
  height: 26px;
  background: var(--window-bg-color);
  border-radius: 10px 10px 0 0;
}

.telegram .window .window-icon {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: var(--icon-color);
  align-items: center;
}

.telegram .window .window-icon .close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 0 10px 0 0;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.telegram .window .window-icon .close-icon:hover {
  background: red;
}

.telegram .window .window-icon .close-icon:hover svg {
  fill: var(--main-text-color);
}

.telegram .window .window-icon .close-icon svg {
  fill: var(--icon-color);
}

.telegram .window .window-icon .minimize-window-icon {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.telegram .window .window-icon .minimize-window-icon:hover {
  background: var(--hover-bg-color);
}

.telegram .window .window-icon .minimize-window-icon::before {
  width: 12px;
  height: 10px;
  border-bottom: 2px solid var(--icon-color);
}

.telegram .window .window-icon .full-screen-icon {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.telegram .window .window-icon .full-screen-icon:hover {
  background: var(--hover-bg-color);
}

.telegram .window .window-icon .full-screen-icon::before {
  width: 6px;
  height: 6px;
  border: 2px solid var(--icon-color);
}

.telegram .chat-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.telegram .chat-container input[type="radio"] {
  display: none;
}

.telegram .chat-container .sidebar {
  height: 100%;
  width: 308px;
  background: var(--main-bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 10px;
}

.telegram .chat-container .sidebar .search {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 0;
}

.telegram .chat-container .sidebar .search .search-icon {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.telegram .chat-container .sidebar .search .search-icon:hover svg {
  fill: var(--main-text-color);
}

.telegram .chat-container .sidebar .search .search-icon svg {
  width: 30px;
  fill: var(--icon-color);
}

.telegram .chat-container .sidebar .search .search-bar {
  height: 34px;
  flex: 1;
  background: var(--window-bg-color);
  border-radius: 4px;
  padding: 0 14px;
  caret-color: var(--main-text-color);
  font-size: 15px;
  color: var(--main-text-color);
  letter-spacing: 1px;
}

.telegram .chat-container .sidebar .search .search-bar::placeholder {
  transform: translate(2px, 1px);
  color: var(--icon-color);
  opacity: .9;
  font-size: 14px;
  letter-spacing: .5px;
}

.telegram .chat-container .sidebar .search .search-bar:focus::placeholder {
  opacity: .7;
}

.telegram .chat-container .chat {
  background: var(--chat-bg-color);
  flex: 1;
  border-radius: 0 0 10px 0;
}
/*# sourceMappingURL=style.css.map */